.containerAgendar {
  position: fixed;
  right: 8px;
  top: 47px;
  background-color: #fff;
  height: 539px;
  width: 350px;
  border-radius: 0 20px 20px 0;
  padding: 10px;
  overflow: auto;

  & .headerAgendar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2 {
      color: #030dff;
    }

    & .close {
      color: #030dff;
    }
  }

  & p {
    color: #030dff;
  }

  & input {
    background-color: #d9d9d8;
    border: none;
    padding: 9px;
    border-radius: 9px;
    width: 300px;
  }

  & .dateAgenda input,
  .hourAgenda input {
    width: 200px;
  }

  & .button {
    background: #030dff;
    border: none;
    padding: 15px 30px;
    border-radius: 7px;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
  }
}
